{% extends 'frood/base.html' %}
{%load newfilters%}
{%block body_block%}
        <h2>Add a Meetup</h2>

        <form id="meetup_form" method="post" action="/frood/add_meetup/{{xcor}}/{{ycor}}/">
            
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
				{% if field.errors %}
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">Error(s):</h3>
					</div>
					<div class="panel-body">
						{% for errors in field.errors %}
						<tr>{{ errors }}</tr>
						{% endfor %}
					</div>
				</div>
				{% endif %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field |addcss:"class:form-control" }}          
                </div>
            {% endfor %}

            <button class="btn btn-primary" type="submit" name="submit">Create Meetup</button>
        </form>
{%endblock%}